.wallet-adapter-button {
    background-color: transparent !important;
    font-family: $font-main !important;
    text-transform: uppercase;
    border: 1px solid #fff !important;
    font-size: 14px !important;
    padding: 7px 9px !important;
    height: 36px !important;
}
.wallet-adapter-modal-list .wallet-adapter-button {
    border-color: transparent !important;
}
.MuiPaginationItem-root {
    border-color: #fd2066 !important;
    font-family: "Minecraft" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 12px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    color: #fff !important;
    min-width: 17px !important;
    height: 19px !important;
    &.Mui-selected {
        background-color: #fd2066 !important;
    }
}
.pagination {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}
